{% extends 'base.html' %}

{% block content %}
	<h1>Venues...</h1>
    <br/>
    <table class="table table-striped table-hover table-bordered">
        {% for venue in page_obj %}
            <tr>
                <td>
                    <a href="{% url 'venue-detail' venue.id %}">{{ venue }}</a>
                </td>
                {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                    <td align="right">
                        <a href="{% url 'update-venue' venue.id %}" class="btn btn-outline-secondary btn-sm">Update</a>
                        <a href="{% url 'delete-venue' venue.id %}" class="btn btn-outline-danger btn-sm">Delete</a>
                    </td>
                    {% endif %}
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <br/></br/>
    <div class="container text-center">
        <!-- This Bootstrap container centers the content horizontally -->
        <div class="pagination">
            <span class="step-links mx-auto">
                {% if page_obj.has_previous %}
                    <a href="?page=1" class="btn btn-secondary">&laquo; First</a>
                    <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-secondary">Previous</a>
                {% endif %}
    
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
    
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="btn btn-secondary">Next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-secondary">Last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
<br/>
{% endblock %}